.button {
    background-color: #0271e7;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Estilos de hover para o botão */
  .button:hover {
    background-color: #ff9900;
  }